<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="JJFServer" connectionString="data source=10.254.162.196;Initial Catalog=fitzdb;User Id=users;Password=users;" providerName="System.Data.SqlClient"/>
    <add name="Rackspace" connectionString="data source=192.168.100.16;Initial Catalog=fitzway;User Id=users;Password=USERS;" providerName="System.Data.SqlClient"/>
    <add name="FDServer" connectionString="data source=10.254.162.141;Initial Catalog=FoxProTables;User Id=users;Password=users;" providerName="System.Data.SqlClient"/>
    <add name="JJFServerFOX" connectionString="data source=10.254.162.196;Initial Catalog=FoxProTables;User Id=users;Password=users;" providerName="System.Data.SqlClient"/>
    <add name="SQLServer" connectionString="data source=10.254.162.196;Initial Catalog=Junk;User Id=users;Password=users;" providerName="System.Data.SqlClient"/>
    <add name="ReynoldsData" connectionString="data source=10.254.162.196;Initial Catalog=ReyData;User Id=rey;Password=rey;" providerName="System.Data.SqlClient"/>
    <add name="SalesCommission" connectionString="data source=10.254.162.196;Initial Catalog=SalesCommission;User Id=rey;Password=rey;" providerName="System.Data.SqlClient"/>
    <add name="TrendAnalysis" connectionString="data source=10.254.162.196;Initial Catalog=TrendAnalysis;User Id=users;Password=users;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>